<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="Aditya.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title> Aditya </title>
</head>


<body class="container">

        <div class="container-fluid">
                <div class="row">
                        <div class="nav">
                                <div class="col-md-3"><a class="active" href="about">Home</a></div>
                                <div class="col-md-3"><a class="active" href="Calculation">Calculation</a></div>
                                <div class="col-md-3"><a class="active" href="Contact">Contact</a></div>
                                <div class="col-md-3"><a class="active" href="GuestBook">GuestBook</a></div>
                        </div> 
                </div>
            </div>
<h1>
Aditya's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>
</html>