body {
	background-image: url("background.jpeg");
    background-size: Cover;
	background-repeat: no-repeat;
    	
}

.nav { 
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color: #2B302D;
top:0;
width:100%;

}
.active{
	color: white;
	text-align:center;
	display: block;
	text-decoration: none;
	padding: 10px 10px;

}

.article {
	font-family: "Times New Roman";
	font-style: Normal;
	font-size: 18px;
}
#span1{
	color: Brown;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}
#span2{
	color: Brown;
	font-weight: bold;
	text-align: center;
	font-size: 23px;
}

h2{
	color: red;
	text-align:center;

}

.heading{
	font-size:25px;
	color: blue;
}
p{
	font-size: 18px;
}
#name{
	text-align: center;		

}
.links{
	text-align:center;
	font-weight: bold;
	font-size: 30px;
	background-color:white;

}
.links1{
	text-align:center;
	font-weight: bold;
	font-size: 23px;
	background-color:white;
}

#tables{
	position: relative;
	left: 37%;
	font-size: 15px;
	margin :2px;
	padding :5px;
	border :solid 3px;
}
.rows{
	border : solid 3px;

}

.adjust1{
	text-align: center;
	font-size: 20px;
}
.adjust2{
	text-align: center;
	font-size: 20px;
}
#contactform{
	text-align: center;
	font-size: 26px;
	color:red;
}

